

<h2> Assignments: </h2>

<div id="tableLayout">
	<% @assignments.each do |c| %>   
	        <% @student = Student.find(c.user_id) %>
	        <% @temp = c %>
    		<%= link_to student_assignment_path(@student, @temp) do %>
    		
               <p><%= c.title %></p>
        	<% end %>	
	<% end %>
	
</div>