/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0;
    padding: 0;
}

#h2Header{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2 {
    display: block;
}
.actions{
    text-align: center;
    color: #ffffff;
    padding: 12px 12px;
}

.slinks {
    text-align: center;
    color: black;
}


.output {
    color: #ffffff;    
}

a:link{
    color: #9b9b9b;
}

a:visited{
    color: #9b9b9b;
}

a:hover{
    color: #dddddd;    
}

a:active{
    color: #dddddd;    
}

#websiteHeader{
    background-color: #004525;
    position: absolute;
    height: 160px;
    left: 0;
    right: 0;
    top: 0;
}

#wrapper {
    padding-top: 190px;
    position: relative;
    margin: 0 auto;
}

