// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
    color: black;
}

body{
    padding-bottom: 120px;
}

#titles{
    text-align: left;
    margin-bottom: 50px;
}

#sections{
    text-align: left;
    margin-left: 50px;
}

#header{
    font-size: 36px;
    font-weight: bold;
}


#tableLayout table{
    text-align: left;
    border-spacing: 15px 5px;
}

#headerSections{
    font-size: 20px;
    margin: 0 auto;
    
}



#searchData{
    height: 10px;
    padding: 10px;
}

#searchData input{
    padding: 5px;
    height: 6px;
    
}

#tableLayout {
    padding: 10px;
}

#newClass{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
    width: 15%;
    margin-bottom: 30px;
    background-color: #004525;
    display: none;
}

p{
    text-align: center;
}


#classList{
    width: 200px;
    word-wrap: break-word;
    padding-top: 5px;
    background-color: #E6E6FA;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#classes{
    padding-top: 50px;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    height: 72px;
    float: left;
    background-color: #734f96;
    position: relative;
    border-radius: 5px;
}

#className{
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#profName{
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#classes:hover{
    transform: scale(1.1);
}


#newClassLink{
    position: absolute;
    margin-top: 50px;
    color: #404040;
    width: 200px;
    height: 30px;
    background-color: red;
    text-align: center;
    font-size: 18px;
}

#newClassLink:link{
    color: #404040;
}


#newClassLink:visited{
    color: #404040;
}

#newClassLink:hover{
    color: #dddddd;    
}

#newClassLink:active{
    color: #dddddd;    
}



#formWrap{
    background: #004525;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    width: 32%;
    //margin: 0 auto;
    margin-left: 5%;
    margin-top: 30px;
    padding-bottom: 15px;
    text-align: left;
    border-radius: 25px;
}

#sectionForm{
    color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 14px;
}

#return{
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    //vertical-align:middle;
    max-width: 150px;
    text-align: center;
    margin-left: 15px;
    margin-top: 13px;
    height: 22px;
    font-size: 16px;
}

#return:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}