// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login {
    background: #004525;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    width: 20%;
    margin: 0 auto;
    padding-bottom: 15px;
}

body{
    background: white;
}
   

h1 {
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

#headerText {
    text-align: center;
    color: white;
}

input[type=text] {
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

.field{
    text-align: center;
    color: #ffffff;
    padding: 12px 12px;
}

