// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: #004525;
}

h1 {
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

p {
    text-align: center;
    color: #ffffff;
}

th {
    color: #ffffff;
}

input[type=text] {
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

.field{
    text-align: center;
    color: #ffffff;
    padding: 12px 12px;
}

.slinks {
    text-align: center;
    color: #ffffff;
}
